<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Testing Osage Unicode and conversion</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

  <style>
  textarea {
    width: 350px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 18px;
    font-variant-ligatures: normal;
	}

table {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
  {
    font-family: "Courier New";
  }
  </style>
  <script src="/js/text_utils.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/osageConverter.js"></script>
  <script src="/js/osage_utils.js"></script>
  
  <script src="/js/vk-debug.js"></script>

  <script>
  var diff_list = [];

  // When an area is changed, set the hex characters, too.
  function updateHex(inArea, outArea) {
    var inText = document.getElementById(inArea).value;
    var hex_output = document.getElementById(outArea);
    var hexString = uplus(inText, "");
    if (hex_output != null) {
      hex_output.value = hexString;
      hex_output.innerHTML = hexString;
    }
  }
  
  function clearArea(outId, outArea) {
    var inText = "";
    var output_text = document.getElementById(outId);
    output_text.innerHTML = inText;
    output_text.value = inText;

    var hex_output = document.getElementById(outArea);
    if (hex_output) {
      hex_output.innerHTML = "";
      hex_output.value = "";
	}
  }

  function onFontSelected(selected) {
    var output_text = document.getElementById('Unicode_font_output_text');
     var fontFam = selected.value + ", Arial, Osage";
    output_text.style.fontFamily = fontFam;
    setKeyCapsFont(fontFam);
  }


  function setKeyCapsFont(newFontFamily) {
    var keycaps = document.getElementsByClassName("vk-cap");
    for (var i = 0; i < keycaps.length; i++ ) {
      keycaps[i].style.fontFamily = newFontFamily;
    }
  }

  function toOsageFonts(area1, area2) {
    // Open a comparison window with the resulting text.
    var area1Elem = document.getElementById(area1);
    var text1 = area1Elem.value;

    var area2Elem = document.getElementById(area2);
    var text2= area2Elem.value;

    compareUrl = "/OsageFonts/?utext=" + text1 + "&osageText=" + text2;

    window.location=compareUrl;   
  }
  
  function toggle(id, toggle) {
    var obj = document.getElementById(id);
    var checkBox = document.getElementById(toggle);
    var showIt = checkBox.checked;
    if(showIt)
      obj.style.display = 'block';
    else
      obj.style.display = 'none';
    }

  var controller, visible = true;
  function initKeyboard(textAreaID) {
      var input = document.getElementById(textAreaID);
      controller = new i18n.input.keyboard.Keyboard();
      controller.loadLayout('osa_dict');
      controller.reposition(input, 1, 0, [1, 0, 0, 0]);
      controller.register(input);
      controller.addEventListener('kc', function() { visible = false; });
      // input.focus();
      var selector = document.getElementById('selectKeyboard');
      onLayoutSelected(selector, controller, textAreaID);
  }

  function onLayoutSelected(selector, this_controller, outputId) {
    var layoutCode = selector.value;
    if (this_controller) {
      this_controller.activateLayout(layoutCode);
    } else {  // The global.
      controller.activateLayout(layoutCode);
    }
    document.getElementById(outputId).focus();
  }

function addRow() {
  var table = document.getElementById("output_table");
  var row = table.insertRow(-1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var en_input = document.getElementById("english_input")
  var dict_input = document.getElementById("osage_latin_input")
  cell1.innerHTML = en_input.value;
  cell2.innerHTML = dict_input.value;
  en_input.value = '';
  dict_input.value = '';
  en_input.focus();
}

// Download CSV
function download_csv() {
    var csv = 'English,Dictionary Osage\n';
    var table = document.getElementById("output_table");
    var rows = table.rows;
    for (var i = 0; i < rows.length; i++) {
      var cells = rows.item(i).cells;
      csv += cells[0].innerText;
      csv += ",";
      csv += cells[1].innerText;
      csv += "\n";
    };
console.log(csv);
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'dictionary.csv';
    hiddenElement.click();
};

  function onPageLoaded() {
    initKeyboard('osage_latin_input');
    init();
  }  

  function init() {
    // Fill in if needed.
    var en_input = document.getElementById("english_input")
    en_input.focus();
  }

  </script>
  </head>

  <body onload="onPageLoaded();">
  <h1>Dictionary Input Tool</h1>
  <div class="container">

  <div class="span-10">
    <h3>Old Osage font data</h3>
     <textarea class="English Meaning" id="english_input" style="font-family:'Courier New';"></textarea>
  </div>

  <div class="span-10">
    <h3>Dictionary Osage text</h3>
      <textarea id="osage_latin_input" style="font-family:'Arial';"></textarea>
<!--
    <input type="text" size="30" id="osage_latin_input" style="font-family:'Courier New';font-size:20px;">
-->
  <div>Keyboard: <select onchange="onLayoutSelected(this, null, 'osage_latin_input')")" id="selectKeyboard">
      <option value="osa_dict">Osage Dictionary</option>
    </select>

  </div>
  </div>
  <div class="span-4 last">
    {% if user_nickname %}
    <h4>Welcome {{user_nickname}}
    {% if user_logout %}
    <a href={{user_logout}}>Logout</a>
    {% endif %}
    {% else %}
    <a href='{{user_login_url}}'>Log in</a>
    {% endif %}

         {% if isAdmin %}
        <hr>
        <h4>Admin Functions</h4>
        <ul>
          <li><a href="/db/manageDB/">Manage Databases</a></li>
          <li><a href="/users/">Manage users</a></li>
          <!-- <li><a href="/db/resetDbEntries/">Reset Database Entries</a> -->
        </ul>
        {% endif %}

   {% if links %}
   <h4>Useful links</h4>
     <ul>
   {% for link in links %}
      <li>
        <a href="{{link.ref}}" target="_blank">{{link.linkText}}</a>
     </li>
   {% endfor %}
     </ul>
   {% endif %}
  </div>
      <div class="span-16">
                <button type="button" onclick="addRow()">Data OK</button>

          <table id="output_table">
             <tr>
                 <td>English</td>
                 <td>Osage Latin</td>
             </tr>
          </table>

          <button onclick="download_csv()">Download CSV</button>

      </div>
  </div> <!-- container -->

</body>
</html>
